[Unit]
Description=marzban0 service :)

[Service]
WorkingDirectory=/opt/marzban
ExecStart=/usr/bin/python main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target